@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: rgba(46, 196, 181, 0.068);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.main-content {
  max-width: 1440px;
  margin: auto;
  max-height: 100vh;
}

.main-content-container {
  padding: 75px 100px;
  display: flex;
  align-items: center;
}

.form-container {
  flex: 1;
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(21, 103, 136, 0.1);
}

.container-one {
  flex: 1;
  padding: 30px;
}

img {
  width: 15%;
}
input,
select {
  height: 40px;
  outline-color: #2ec4b6;
  padding: 0 10px;
  width: 275px;
  margin-top: 10px;
  font-size: 14px;
  border: 0.5px solid grey;
  background-color: white;
}

label {
  font-weight: 500;
  font-size: 14px;
}

.form-content-container {
  display: flex;
  gap: 1rem;
  margin: 30px 0;
}

.activity_password {
  width: 100%;
}

.form-container p {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}

.password-container {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
button {
  text-align: center;
  width: 100%;
  height: 40px;
  border: none;
  background-color: #2ec4b6;
  color: white;
}

a {
  text-decoration: none;
  color: #2ec4b6;
}

@media screen and (max-width: 768px) {
  .main-content-container {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
  }

  .form-content-container {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
  }

  .container-one {
    padding: 0px;
    margin-bottom: 25px;
  }

  input,
  select {
    width: 100%;
  }
}
